/* Figma Styles of your File */
:root {
  /* Colors */
  --d9d9d9: #e04f25;
  --farsightsharescom-alto: #d7d7d7;
  --farsightsharescom-alto: #d9d9d9;
  --farsightsharescom-alto: #d2d2d2;
  --farsightsharescom-alto: #dddddd;
  --farsightsharescom-athens-gray: #eeeeee;
  --farsightsharescom-black: #000000;
  --farsightsharescom-black: #010101;
  --farsightsharescom-black-10: rgba(0, 0, 0, 0.1);
  --farsightsharescom-black-15: rgba(0, 0, 0, 0.15);
  --farsightsharescom-black-20: rgba(0, 0, 0, 0.2);
  --farsightsharescom-black-30: rgba(0, 0, 0, 0.3);
  --farsightsharescom-black-80: rgba(0, 0, 0, 0.8);
  --farsightsharescom-bridal-heath: #fff8f0;
  --farsightsharescom-carrot-orange: #f28813;
  --farsightsharescom-champagne: #e7e7e7;
  --farsightsharescom-clementine: #eb6400;
  --farsightsharescom-concrete: #f3f3f3;
  --farsightsharescom-dove-gray: #666666;
  --farsightsharescom-dove-gray: #6f6f6f;
  --farsightsharescom-dusty-gray: #959595;
  --farsightsharescom-flamingo: #f28813;
  --farsightsharescom-gallery: #eeeeee;
  --farsightsharescom-gallery: #eeeeee;
  --farsightsharescom-malachite: #1dc20b;
  --farsightsharescom-mercury: #e7e7e7;
  --farsightsharescom-meteor: #ce610f;
  --farsightsharescom-midnight-blue: #012068;
  --farsightsharescom-mine-shaft: #313131;
  --farsightsharescom-negroni: #ffe1c3;
  --farsightsharescom-outer-space: #343a40;
  --farsightsharescom-pampas: #e7e7e7;
  --farsightsharescom-pumpkin-skin: #a75e0d;
  --farsightsharescom-red: #ff0000;
  --farsightsharescom-rock-spray: #c3470a;
  --farsightsharescom-serenade: #fff6ec;
  --farsightsharescom-silver-chalice: #a3a3a3;
  --farsightsharescom-tango: #f28813;
  --farsightsharescom-tango: #e86219;
  --farsightsharescom-tango: #e86219;
  --farsightsharescom-tango: #f28813;
  --farsightsharescom-tango: #e86219;
  --farsightsharescom-tundora: #4e4e4e;
  --farsightsharescom-west-side: #ff8d16;
  --farsightsharescom-white: #ffffff;
  --farsightsharescom-white: #fdfdfd;
  --farsightsharescom-white-02: rgba(255, 255, 255, 0);
  --farsightsharescom-white-white: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);

  /* Fonts */
  --farsightsharescom-semantic-button-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-button-font-size: 24px;
  --farsightsharescom-semantic-button-line-height: 24px;
  --farsightsharescom-semantic-button-font-weight: 700;
  --farsightsharescom-semantic-button-font-style: normal;
  --farsightsharescom-semantic-button-font-family: Roboto-Medium, sans-serif;
  --farsightsharescom-semantic-button-font-size: 14px;
  --farsightsharescom-semantic-button-line-height: 18.2px;
  --farsightsharescom-semantic-button-font-weight: 500;
  --farsightsharescom-semantic-button-font-style: normal;
  --farsightsharescom-semantic-emphasis-font-family: Inter-Italic, sans-serif;
  --farsightsharescom-semantic-emphasis-font-size: 15px;
  --farsightsharescom-semantic-emphasis-line-height: 27px;
  --farsightsharescom-semantic-emphasis-font-weight: 400;
  --farsightsharescom-semantic-emphasis-font-style: italic;
  --farsightsharescom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-2-font-size: 22.399999618530273px;
  --farsightsharescom-semantic-heading-2-line-height: normal;
  --farsightsharescom-semantic-heading-2-font-weight: 700;
  --farsightsharescom-semantic-heading-2-font-style: normal;
  --farsightsharescom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-2-font-size: 34px;
  --farsightsharescom-semantic-heading-2-line-height: 47.6px;
  --farsightsharescom-semantic-heading-2-font-weight: 700;
  --farsightsharescom-semantic-heading-2-font-style: normal;
  --farsightsharescom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-2-font-size: 34px;
  --farsightsharescom-semantic-heading-2-line-height: 44.2px;
  --farsightsharescom-semantic-heading-2-font-weight: 700;
  --farsightsharescom-semantic-heading-2-font-style: normal;
  --farsightsharescom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-2-font-size: 46px;
  --farsightsharescom-semantic-heading-2-line-height: 64.4px;
  --farsightsharescom-semantic-heading-2-font-weight: 700;
  --farsightsharescom-semantic-heading-2-font-style: normal;
  --farsightsharescom-semantic-heading-2-font-family: PlayfairDisplay-Regular,
    sans-serif;
  --farsightsharescom-semantic-heading-2-font-size: 34px;
  --farsightsharescom-semantic-heading-2-line-height: 40.8px;
  --farsightsharescom-semantic-heading-2-font-weight: 400;
  --farsightsharescom-semantic-heading-2-font-style: normal;
  --farsightsharescom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-heading-3-font-size: 28px;
  --farsightsharescom-semantic-heading-3-line-height: 44.8px;
  --farsightsharescom-semantic-heading-3-font-weight: 400;
  --farsightsharescom-semantic-heading-3-font-style: normal;
  --farsightsharescom-semantic-heading-3-font-family: Inter-Medium, sans-serif;
  --farsightsharescom-semantic-heading-3-font-size: 40px;
  --farsightsharescom-semantic-heading-3-line-height: 48px;
  --farsightsharescom-semantic-heading-3-font-weight: 500;
  --farsightsharescom-semantic-heading-3-font-style: normal;
  --farsightsharescom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-2-font-size: 46px;
  --farsightsharescom-semantic-heading-2-line-height: 55.2px;
  --farsightsharescom-semantic-heading-2-font-weight: 700;
  --farsightsharescom-semantic-heading-2-font-style: normal;
  --farsightsharescom-semantic-heading-4-font-family: Inter-SemiBold, sans-serif;
  --farsightsharescom-semantic-heading-4-font-size: 24px;
  --farsightsharescom-semantic-heading-4-line-height: 28.8px;
  --farsightsharescom-semantic-heading-4-font-weight: 600;
  --farsightsharescom-semantic-heading-4-font-style: normal;
  --farsightsharescom-semantic-heading-5-font-family: Inter-SemiBold, sans-serif;
  --farsightsharescom-semantic-heading-5-font-size: 20px;
  --farsightsharescom-semantic-heading-5-line-height: 26px;
  --farsightsharescom-semantic-heading-5-font-weight: 600;
  --farsightsharescom-semantic-heading-5-font-style: normal;
  --farsightsharescom-semantic-heading-4-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-4-font-size: 24px;
  --farsightsharescom-semantic-heading-4-line-height: 38.4px;
  --farsightsharescom-semantic-heading-4-font-weight: 700;
  --farsightsharescom-semantic-heading-4-font-style: normal;
  --farsightsharescom-semantic-heading-6-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-heading-6-font-size: 12px;
  --farsightsharescom-semantic-heading-6-line-height: 19.2px;
  --farsightsharescom-semantic-heading-6-font-weight: 700;
  --farsightsharescom-semantic-heading-6-font-style: normal;
  --farsightsharescom-semantic-heading-6-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-heading-6-font-size: 13px;
  --farsightsharescom-semantic-heading-6-line-height: normal;
  --farsightsharescom-semantic-heading-6-font-weight: 400;
  --farsightsharescom-semantic-heading-6-font-style: normal;
  --farsightsharescom-semantic-heading-6-font-family: Inter-SemiBold, sans-serif;
  --farsightsharescom-semantic-heading-6-font-size: 18px;
  --farsightsharescom-semantic-heading-6-line-height: 25.2px;
  --farsightsharescom-semantic-heading-6-font-weight: 600;
  --farsightsharescom-semantic-heading-6-font-style: normal;
  --farsightsharescom-semantic-item-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-item-font-size: 16px;
  --farsightsharescom-semantic-item-line-height: 27.2px;
  --farsightsharescom-semantic-item-font-weight: 400;
  --farsightsharescom-semantic-item-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 12px;
  --farsightsharescom-semantic-link-line-height: normal;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-heading-6-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-heading-6-font-size: 18px;
  --farsightsharescom-semantic-heading-6-line-height: 28.8px;
  --farsightsharescom-semantic-heading-6-font-weight: 400;
  --farsightsharescom-semantic-heading-6-font-style: normal;
  --farsightsharescom-semantic-item-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-item-font-size: 14px;
  --farsightsharescom-semantic-item-line-height: 27.2px;
  --farsightsharescom-semantic-item-font-weight: 400;
  --farsightsharescom-semantic-item-font-style: normal;
  --farsightsharescom-semantic-item-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-item-font-size: 18px;
  --farsightsharescom-semantic-item-line-height: 25px;
  --farsightsharescom-semantic-item-font-weight: 400;
  --farsightsharescom-semantic-item-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --farsightsharescom-semantic-link-font-size: 14px;
  --farsightsharescom-semantic-link-line-height: 30px;
  --farsightsharescom-semantic-link-font-weight: 600;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 14px;
  --farsightsharescom-semantic-link-line-height: 24px;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 14px;
  --farsightsharescom-semantic-link-line-height: 27.2px;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 14px;
  --farsightsharescom-semantic-link-line-height: 25px;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 15px;
  --farsightsharescom-semantic-link-line-height: normal;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 16px;
  --farsightsharescom-semantic-link-line-height: 40px;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-link-font-size: 16px;
  --farsightsharescom-semantic-link-line-height: 24px;
  --farsightsharescom-semantic-link-font-weight: 700;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 16px;
  --farsightsharescom-semantic-link-line-height: 27.2px;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-link-font-size: 18px;
  --farsightsharescom-semantic-link-line-height: 23.4px;
  --farsightsharescom-semantic-link-font-weight: 700;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-link-font-size: 20px;
  --farsightsharescom-semantic-link-line-height: 26px;
  --farsightsharescom-semantic-link-font-weight: 700;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Roboto-Medium, sans-serif;
  --farsightsharescom-semantic-link-font-size: 16px;
  --farsightsharescom-semantic-link-line-height: 16px;
  --farsightsharescom-semantic-link-font-weight: 500;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-link-font-family: Roboto-Regular, sans-serif;
  --farsightsharescom-semantic-link-font-size: 18px;
  --farsightsharescom-semantic-link-line-height: 23.4px;
  --farsightsharescom-semantic-link-font-weight: 400;
  --farsightsharescom-semantic-link-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 14px;
  --farsightsharescom-semantic-strong-line-height: 25.2px;
  --farsightsharescom-semantic-strong-font-weight: 700;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 16px;
  --farsightsharescom-semantic-strong-line-height: 28.8px;
  --farsightsharescom-semantic-strong-font-weight: 700;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 18px;
  --farsightsharescom-semantic-strong-line-height: 28.8px;
  --farsightsharescom-semantic-strong-font-weight: 700;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 18px;
  --farsightsharescom-semantic-strong-line-height: 32.4px;
  --farsightsharescom-semantic-strong-font-weight: 700;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 20px;
  --farsightsharescom-semantic-strong-line-height: 32px;
  --farsightsharescom-semantic-strong-font-weight: 700;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 31px;
  --farsightsharescom-semantic-strong-line-height: 37.2px;
  --farsightsharescom-semantic-strong-font-weight: 700;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-semantic-strong-font-family: Inter-Black, sans-serif;
  --farsightsharescom-semantic-strong-font-size: 46px;
  --farsightsharescom-semantic-strong-line-height: 55.2px;
  --farsightsharescom-semantic-strong-font-weight: 900;
  --farsightsharescom-semantic-strong-font-style: normal;
  --farsightsharescom-inter-regular-16-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-inter-regular-16-font-size: 16px;
  --farsightsharescom-inter-regular-16-line-height: 28.8px;
  --farsightsharescom-inter-regular-16-font-weight: 400;
  --farsightsharescom-inter-regular-16-font-style: normal;
  --farsightsharescom-inter-regular-18-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-inter-regular-18-font-size: 18px;
  --farsightsharescom-inter-regular-18-line-height: 32.4px;
  --farsightsharescom-inter-regular-18-font-weight: 400;
  --farsightsharescom-inter-regular-18-font-style: normal;
  --farsightsharescom-inter-semi-bold-14-font-family: Inter-SemiBold, sans-serif;
  --farsightsharescom-inter-semi-bold-14-font-size: 14px;
  --farsightsharescom-inter-semi-bold-14-line-height: 27.2px;
  --farsightsharescom-inter-semi-bold-14-font-weight: 600;
  --farsightsharescom-inter-semi-bold-14-font-style: normal;
  --farsightsharescom-inter-regular-14-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-inter-regular-14-font-size: 14px;
  --farsightsharescom-inter-regular-14-line-height: 27.2px;
  --farsightsharescom-inter-regular-14-font-weight: 400;
  --farsightsharescom-inter-regular-14-font-style: normal;
  --farsightsharescom-inter-regular-14-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-inter-regular-14-font-size: 14px;
  --farsightsharescom-inter-regular-14-line-height: 25.2px;
  --farsightsharescom-inter-regular-14-font-weight: 400;
  --farsightsharescom-inter-regular-14-font-style: normal;
  --farsightsharescom-inter-regular-15-font-family: Inter-Regular, sans-serif;
  --farsightsharescom-inter-regular-15-font-size: 15px;
  --farsightsharescom-inter-regular-15-line-height: 27px;
  --farsightsharescom-inter-regular-15-font-weight: 400;
  --farsightsharescom-inter-regular-15-font-style: normal;
  --farsightsharescom-inter-bold-15-font-family: Inter-Bold, sans-serif;
  --farsightsharescom-inter-bold-15-font-size: 15px;
  --farsightsharescom-inter-bold-15-line-height: 27px;
  --farsightsharescom-inter-bold-15-font-weight: 700;
  --farsightsharescom-inter-bold-15-font-style: normal;
  --farsightsharescom-inter-italic-15-font-family: Inter-Italic, sans-serif;
  --farsightsharescom-inter-italic-15-font-size: 15px;
  --farsightsharescom-inter-italic-15-line-height: 27px;
  --farsightsharescom-inter-italic-15-font-weight: 400;
  --farsightsharescom-inter-italic-15-font-style: italic;

  /* Effects */
}
